@font-face {
	font-family: tk-effra-n4;
	src: url(https://use.typekit.net/af/c4225a/00000000000000000001787b/27/l?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=n4&v=3) format("woff2"), 
		 url(https://use.typekit.net/af/c4225a/00000000000000000001787b/27/d?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=n4&v=3) format("woff"), 
		 url(https://use.typekit.net/af/c4225a/00000000000000000001787b/27/a?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=n4&v=3) format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: tk-effra-i4;
	src: url(https://use.typekit.net/af/4cb2be/00000000000000000001787c/27/l?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=i4&v=3) format("woff2"), 
		 url(https://use.typekit.net/af/4cb2be/00000000000000000001787c/27/d?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=i4&v=3) format("woff"), 
		 url(https://use.typekit.net/af/4cb2be/00000000000000000001787c/27/a?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=i4&v=3) format("opentype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: tk-effra-n7;
	src: url(https://use.typekit.net/af/c5926e/00000000000000000001787f/27/l?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=n7&v=3) format("woff2"), 
		 url(https://use.typekit.net/af/c5926e/00000000000000000001787f/27/d?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=n7&v=3) format("woff"), 
		 url(https://use.typekit.net/af/c5926e/00000000000000000001787f/27/a?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=n7&v=3) format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: tk-effra-n5;
	src: url(https://use.typekit.net/af/3fda9d/00000000000000000001787d/27/l?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=n5&v=3) format("woff2"), 
		 url(https://use.typekit.net/af/3fda9d/00000000000000000001787d/27/d?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=n5&v=3) format("woff"), 
		 url(https://use.typekit.net/af/3fda9d/00000000000000000001787d/27/a?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=n5&v=3) format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: effra;
	src: url(https://use.typekit.net/af/c4225a/00000000000000000001787b/27/l?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=n4&v=3) format("woff2"), 
		 url(https://use.typekit.net/af/c4225a/00000000000000000001787b/27/d?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=n4&v=3) format("woff"), 
		 url(https://use.typekit.net/af/c4225a/00000000000000000001787b/27/a?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=n4&v=3) format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: effra;
	src: url(https://use.typekit.net/af/4cb2be/00000000000000000001787c/27/l?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=i4&v=3) format("woff2"), 
		 url(https://use.typekit.net/af/4cb2be/00000000000000000001787c/27/d?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=i4&v=3) format("woff"), 
		 url(https://use.typekit.net/af/4cb2be/00000000000000000001787c/27/a?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=i4&v=3) format("opentype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: effra;
	src: url(https://use.typekit.net/af/c5926e/00000000000000000001787f/27/l?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=n7&v=3) format("woff2"), 
		 url(https://use.typekit.net/af/c5926e/00000000000000000001787f/27/d?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=n7&v=3) format("woff"), 
		 url(https://use.typekit.net/af/c5926e/00000000000000000001787f/27/a?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=n7&v=3) format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: effra;
	src: url(https://use.typekit.net/af/3fda9d/00000000000000000001787d/27/l?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=n5&v=3) format("woff2"), 
		 url(https://use.typekit.net/af/3fda9d/00000000000000000001787d/27/d?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=n5&v=3) format("woff"), 
		 url(https://use.typekit.net/af/3fda9d/00000000000000000001787d/27/a?primer=58c987e7b7fe63cbe1095ef6a25b46e1834f02b483afffd183a0b3dd0f48e47b&fvd=n5&v=3) format("opentype");
	font-weight: 500;
	font-style: normal;
}