<?xml version="1.0"?>
<config>
    <modules>
        <INT_Lowstock>
            <version>1.10.1</version>
        </INT_Lowstock>
    </modules>
    <frontend>
        <routers>
            <lowstock>
                <use>standard</use>
                <args>
                    <module>INT_Lowstock</module>
                    <frontName>lowstock</frontName>
                </args>
            </lowstock>
        </routers>
        <layout>
            <updates>
                <lowstock>
                    <file>lowstock.xml</file>
                </lowstock>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
	    <lowstock>
		    <use>admin</use>
		    <args>
			<module>INT_Lowstock</module>
			<frontName>lowstock</frontName>
		    </args>
	    </lowstock>
        </routers>
    </admin>
    <adminhtml>
	<acl>
	    <resources>
		    <all>
			    <title>Allow Everything</title>
		    </all>
		    <admin>
			<children>
			    <INT_Lowstock>
				    <title>Lowstock Module</title>
				    <sort_order>10</sort_order>
			    </INT_Lowstock>
			</children>
		    </admin>
	    </resources>
	</acl>
	<layout>
		<updates>
			<lowstock>
				<file>lowstock.xml</file>
			</lowstock>
		</updates>
	</layout>
	<events>
	    <catalog_product_save_after>
		<observers>
		    <lowstock>
			<class>lowstock/observer</class>
			<method>getProStock</method>
		    </lowstock>
		</observers>
	    </catalog_product_save_after>
	</events>
    </adminhtml>   
    <global>
	<models>
            <lowstock>
                <class>INT_Lowstock_Model</class>
                <resourceModel>lowstock_mysql4</resourceModel>
            </lowstock>
        </models>
        <blocks>
            <lowstock>
                <class>INT_Lowstock_Block</class>
            </lowstock>
        </blocks>
        <helpers>
            <lowstock>
                <class>INT_Lowstock_Helper</class>
            </lowstock>
        </helpers>
	<events>
            <sales_order_place_after>
                <observers>
                    <lowstock>
                        <class>lowstock/observer</class>
                        <method>checkStock</method>
                    </lowstock>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <default>
        <lowstock>
            <group_notificationsetting>
		<minstock_text_field><![CDATA[2]]></minstock_text_field>
                <notification_email_template><![CDATA[<h3>Hello Admin,</h3><p>Hurry up, {product_name} Stock is very Low!</p><p>SKU : <b>{sku}</b></p><p>Remaining Qty : <b>{qty}</b></p><p>Thank you</p>]]></notification_email_template>                
            </group_notificationsetting>
        </lowstock>
    </default>
</config>