<?xml version="1.0"?>
<config>
    <modules>
        <Weblibre_WLPayment>
            <version>0.8.0</version>
        </Weblibre_WLPayment>
    </modules>
    <frontend>
        <routers>
            <wlpayment>
                <use>standard</use>
                <args>
                    <module>Weblibre_WLPayment</module>
                    <frontName>wlpayment</frontName>
                </args>
            </wlpayment>
        </routers>
        <layout>
            <updates>
                <wlpayment>
                    <file>wlpayment.xml</file>
                </wlpayment>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<wlpayment>
				<use>admin</use>
				<args>
					<module>Weblibre_WLPayment</module>
					<frontName>wlpayment</frontName>
				</args>
			</wlpayment>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Weblibre_WLPayment>
							<title>WLPayment Module</title>
							<sort_order>10</sort_order>
						</Weblibre_WLPayment>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<wlpayment>
					<file>wlpayment.xml</file>
				</wlpayment>
			</updates>
		</layout>
    </adminhtml> 
    <global>
        <models>
            <wlpayment>
                <class>Weblibre_WLPayment_Model</class>
                <resourceModel>wlpayment_mysql4</resourceModel>
            </wlpayment>
            <wlpayment_mysql4>
                <class>Weblibre_WLPayment_Model_Mysql4</class>
                <entities>
                    <wlpayment>
                        <table>wlpayment</table>
                    </wlpayment>
                    <antifraude>
                        <table>wlantifraude</table>
                    </antifraude>
                    <parcelamento>
                        <table>wlparcelamento</table>
                    </parcelamento>
                </entities>
            </wlpayment_mysql4>
        </models>
        <resources>
            <wlpayment_setup>
                <setup>
                    <module>Weblibre_WLPayment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </wlpayment_setup>
            <wlpayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </wlpayment_write>
            <wlpayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </wlpayment_read>
        </resources>
        <blocks>
            <wlpayment>
                <class>Weblibre_WLPayment_Block</class>
            </wlpayment>
        </blocks>
        <helpers>
            <wlpayment>
                <class>Weblibre_WLPayment_Helper</class>
            </wlpayment>
        </helpers>
    </global>
</config>